---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
    title="About Me"
    description="Lorem ipsum dolor sit amet"
    pubDate={new Date("August 08 2021")}
>
    <p>
        Backend software engineer with ~6 years of experience and some
        experience in front end as well. I've mainly worked with Java + Spring
        boot and some Angular professtionally. I'm deeply interested in tech in
        general and will try to write blogs about topics that interest me.
    </p>
</Layout>
